# Core packages
annotated-types==0.7.0
anyio==4.13.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.6
distro==1.9.0

# Google & AI
google-auth==2.49.1
google-genai==1.68.0
groq==1.1.2

# HTTP / Networking
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
requests==2.33.0
sniffio==1.3.1
urllib3==2.6.3
websockets==16.0

# PDF / Document
pdfminer.six==20251230
pdfplumber==0.11.9
PyMuPDF==1.27.2.2
pypdfium2==5.6.0
pillow==12.1.1

# Python utilities
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
python-dotenv==1.2.2
tenacity==9.1.4
typing-inspection==0.4.2
typing_extensions==4.15.0

# Big Data & Object Storage
minio==7.1.1
pyspark==3.5.1  # tương thích Python 3.11

# Workflow / Scheduling
apache-airflow==2.8.2  # stable + Python 3.11
ipykernel
pandas==2.1.4

# NLP & Machine Learning
nltk==3.8.1
spacy==3.7.4
faiss-cpu==1.8.0  
tqdm==4.66.2
sentence-transformers==2.5.1
scikit-learn==1.4.1.post1
numpy==1.26.4